
.signup-main-contianer{
    width: 1000px;
    height: 700px;
    top: -1108px;
    left: -720px;
    gap: 0px;
    opacity: 0px;
    
}
.image-container{
    width: 450px;
    height: 700px;
    gap: 0px;
    opacity: 0px;
    background-image: url('https://s3-alpha-sig.figma.com/img/bac7/908d/5586b48e1c158f42af9fb4b0f5b1c3e2?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=esMF1DolFFTwhT5NQXsmBl7h6hBI6Wn7Z7Zfeq5qHFPTwVk40eR7I3caCVe2C5IsSfaOXW9V2XAfOQ6dCHy8WdNiZzmR6ojVzHC9xqyaOGeP-BgLVU~F9lqWM4PYqN7LlV9z027xGXnkMrIQcPqw5sAF~q7qMroW7QdiuW6OVCHDySPmg91wS87gK2QAGuUWd5NX-9MJ0j1AhilT9Z1KMj7TMXpQZaVOjf4qAG80NRIFQqMokELp2Ui-ESW5bQElzSAsapXcTcp~DNT~rGm~Z8xN4gGVdmtLnNjXT~oSrlIpr70zGd6nkkhldqJyN6hwbQRI~k~rr2RW770R75Q~hA__');
}
.image-icon{
    width: 270px;
    height: 250px;
    /* position: relative;
    top: 100px;
    left: 60px; */
    gap: 0px;
    opacity: 0px;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 24px;
position: relative;

text-align: center !important;
font-weight: 600;
line-height: 48px;
text-align: left;
color: white;
}
.safe-word{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 48px;
text-align: left;
color: green;
}
.small-title-word{
font-size: 21px;
color: white;
text-align: center;
font-family: 'Arial Narrow', Arial, sans-serif;
}
.color-green{
    color: green;
}